<header>
  <div class="container">
    <div>
      <a href="/" class="logo">MakeYourFood</a>
    </div>

    <div class="search">
      <form>
        <span><i class="fa-solid fa-magnifying-glass"></i></span>

        <input type="text" name="search" id="search" placeholder="Buscar seu Lanche" />
      </form>
    </div>

    <div class="buttonDesktop">

      <div class="cart">
        <i class="fa-solid fa-bag-shopping"></i>
        <span>&#36; 0,00</span>
      </div>

      <div>
        <i class="fa-solid fa-circle-user"></i>
        <details>
          <summary>Seu nome</summary>
          <p>login</p>
          <p>cadastro</p>
        </details>
      </div>
    </div>
  </div>
</header>