<header>
  <div class="container">
    <div>
      <a href="/" class="logo">MakeYourFood</a>
    </div>

    <div class="search">
      <form>
        <span><i class="fa-solid fa-magnifying-glass"></i></span>

        <input
          type="text"
          name="search"
          id="search"
          placeholder="Buscar seu Lanche"
        />
      </form>
    </div>

    <div class="buttonDesktop">
      <button class="buttonWithoutBackground">criar conta</button>
      <button class="buttonWithBackground">Entrar</button>
    </div>

    <div class="buttonMobile">
      <button class="buttonWithBackground">Entrar</button>
    </div>
  </div>
</header>