<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MakeYourFood</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet" />

  <script src="https://kit.fontawesome.com/8d58cf1b1f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../css/components/Header.css" />
  <link rel="stylesheet" href="../css/components/Footer.css" />
  <link rel="stylesheet" href="../css/Global.css">
  <link rel="stylesheet" href="../css/Index.css" />
</head>

<body>
  <header>
    <div class="container">
      <div>
        <a href="#" class="logo">MakeYourFood</a>
      </div>

      <div class="search">
        <form>
          <span><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" name="search" id="search" placeholder="Buscar seu Lanche" />
        </form>
      </div>

      <div class="buttonDesktop">
        <button class="buttonWithoutBackground">criar conta</button>
        <button class="buttonWithBackground">Entrar</button>
      </div>

      <div class="buttonMobile">
        <button class="buttonWithBackground">Entrar</button>
      </div>
    </div>
  </header>
  <main>
    <section class="banner">
    </section>

    <section class="categories">
      <a href="Category.html">
        <div class="card cardCarne">
          <span class="cardTitle">Lanches de carne</span>
        </div>
      </a>
      <a href="Category.html">
        <div class="card cardFrango">
          <span class="cardTitle">Lanches de frango</span>
        </div>
      </a>
      <a href="Category.html">
        <div class="card cardVegetariano">
          <span class="cardTitle">Lanches vegetarianos</span>
        </div>
      </a>
      <a href="Category.html">
        <div class="card cardFit">
          <span class="cardTitle">Linha fit</span>
        </div>
      </a>
    </section>
  </main>

  <footer>
    <div class="container">
      <div>
        <a href="#" class="logo logo-footer">MakeYourFood</a>
      </div>

      <div class="contacts">
        <div>
          <i class="fa-brands fa-facebook-f"></i>
          <a href="#">Facebook</a>
        </div>

        <div>
          <i class="fa-brands fa-instagram"></i>
          <a href="#">Instagram</a>
        </div>

        <div>
          <i class="fa-brands fa-whatsapp"></i>
          <a href="#">Whatsapp</a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>