<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MakeYourFood</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/8d58cf1b1f.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../css/components/Header.css" />
    <link rel="stylesheet" href="../css/Category.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="#" class="logo">MakeYourFood</a>
      </div>

      <div class="search">
        <form>
          <span><i class="fa-solid fa-magnifying-glass"></i></span>

          <input
            type="text"
            name="search"
            id="search"
            placeholder="Buscar seu Lanche"
          />
        </form>
      </div>

      <div class="buttonDesktop">
        <button class="buttonWithoutBackground">criar conta</button>
        <button class="buttonWithBackground">Entrar</button>
      </div>

      <div class="buttonMobile">
        <button class="buttonWithBackground">Entrar</button>
      </div>
    </header>

    <main>
      <aside>
        <nav>
          <a href="?search=todos">Todos</a>
          <a href="?search=lanches+de+carne">Lanches de Carne</a>
          <a href="?search=lanches+de+frango">Lanches de Frango</a>
          <a href="?search=lanches+de+vegano">Lanches de Vegano</a>
          <a href="?search=lanches+de+fitness">Lanches de Fitness</a>
        </nav>
      </aside>

      <div class="separator"></div>

      <section>
        <!-- cards -->
      </section>
    </main>
  </body>
</html>
