<%- include('../partials/head') %>
  <link rel="stylesheet" href="/stylesheet/components/header.css" />
  <link rel="stylesheet" href="/stylesheet/components/footer.css" />
  <link rel="stylesheet" href="/stylesheet/global.css" />
  <link rel="stylesheet" href="/stylesheet/user.css" />
  </head>

  <body>
    <%- include('../partials/header') %>


      <main>
        <h2>Alterar senha</h2>

        <div class="mainEditPassword">
          <div class="dadosSenha">
            <form action="/user/updatePassword" method="post" enctype="multipart/form-data">
              <div class="input-group">
                <label for="novaSenha">Nova senha</label>
                <input type="password" id="novaSenha" name="novaSenha" required>
              </div>
              <div class="input-group">
                <label for="repitaNovaSenha">Repita a nova senha</label>
                <input type="password" id="repitaNovaSenha" name="repitaNovaSenha" required>
              </div>
              <div class="formBotoes">
                <button type="submit" class="enviar">Enviar</button>
                <button type="reset" class="cancelar">Cancelar</button>
              </div>
            </form>
          </div>
      </main>
      </div>
      <%- include('../partials/footer') %>
  </body>

  </html>